* {
    background-color: blueviolet;
}
* {
  box-sizing:border-box;
width: 100%;
}
body {
    display: flex;
    justify-content:center;
    min-height: 100vh;
}

header {
  display:block;
  justify-content: space-between;
  padding: 1%;
}
nav.language-select {
display: block;
}
  h1 {
    font-size: 200%;
  }
  h2 {
    margin: 2% 0;
    font-size: 250%;}

section.cookie-container {
  display:block;
}
.cookie-container img{
  width: 50%;
  min-width: 400px;

};

  button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--dark);
    color: var(--light);
  }
